@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.brand {
  padding: 1rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
}

/*toggle button*/
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

/*section one Home*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: center;
  top: 20px;
  /* Scroll Snap */
  scroll-snap-align: center;
}
section h1 {
  color: #ffffff;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
section h3 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
section p {
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

#home {
  background: url(/img/img0.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Section two for about*/
#about {
  display: block;
}

.title {
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin: 10px;
  position: relative;
  top: 5%;
}
.title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-image: linear-gradient(to right, transparent 5%, #7f7c8c);
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.team-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 20px;
}

.member {
  width: 400px;
  height: 416px;
  margin: 100px;
}
.member img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 10px 20px;
  transform: translateY(-20px);
}
.member h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}
.member p {
  font-size: 20px;
  color: #000000;
  line-height: 1.6;
  border: 2px solid;
  padding: 10px;
  border-radius: 7px;
  background-color: hsla(0deg, 0%, 77%, 0.5);
  margin-bottom: -20px;
}
.member i {
  font-size: 30px;
}

/*Footer for contact*/
footer {
  background-color: #000000;
  margin-top: auto;
  width: 97.9%;
  min-height: 150px;
  padding: 3rem 1rem;
}

.containerr {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.roww {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.col {
  min-width: 250px;
  color: #ffffff;
  font-family: poppins;
  padding: 0 100px;
}
.col .links ul li {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
  list-style-type: none;
}

.social-links a {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.social-links a span {
  font-size: 20px;
  font-weight: 300;
  line-height: 60px;
  position: relative;
  bottom: 60px;
  left: 60px;
  color: #ffffff;
}

/* down downnnnnnn nummer 1 */
.scroll-down {
  position: absolute;
  top: 350px;
  font-size: 40px;
  color: #ffffff;
}
.scroll-down:before {
  display: block;
  width: 12px;
  height: 12px;
}
.scroll-down a {
  color: #ffffff;
}

/*down nummer 2*/
.downn {
  position: absolute;
  top: 260%;
  left: 48%;
  width: 46px;
  height: 46px;
  color: #000000;
  font-size: 40px;
  display: flex;
}

/*responsive*/
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .footer-col {
    width: 100%;
  }
  .footer-col {
    width: 100%;
  }
  .roww {
    display: inline-block;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
  .roww {
    display: inline-block;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */